body {
    background-image: url("/assets/images/crystalgame.jpg");
    }

.row {
    margin-bottom: 10px;
}   
    
#title {
    background: orangered;
    color: white;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;

}

#parag {
    background: peachpuff;
    color: green;
    font-family: 'Times New Roman', Times, serif;
   
}

#newGame {
    background: greenyellow;
    margin-right: 15px;   
    font-size: 25px;
    text-align: center;
}

#winnLossArea {
    background: aqua;

}

#crystals {
    margin-right: 10px;
}

img {
    width: 60px;
    height: 60px;  
}

#score {
    background: green;
}

#addTotal {
    background: green; 
    margin-right: 15px;   
    font-size: 25px;
    text-align: center;
}
