body {
    background-image: url("/assets/images/crystalgame.jpg");
    }

.row {
    margin-bottom: 15px;
}   
    
#title {
    background: orangered;
    color: white;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;

}

#parag {
    background: peachpuff;
    color: green;
    font-family: 'Times New Roman', Times, serif;
   
}

#newGame {
    background: greenyellow;
    margin-right: 15px;   
    font-size: 30px;
    text-align: center;
}

#winnLoss {
    background: aqua;

}

#crystals {
    margin-right: 10px;
}

img {
    width: 75px;
    height: 75px;  
}

#score {
    background: green;
}

#GuessedNumber {
    background: green; 
}
